[submodule "engine/vendor/glfw"]
	path = engine/vendor/glfw
	url = https://github.com/HFBYM/glfw
[submodule "engine/vendor/spdlog"]
	path = engine/vendor/spdlog
	url = https://github.com/HFBYM/spdlog.git
